html{
  background-image: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background-size: cover;
  
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock{
  width:350px;
  height:350px;
margin:50px auto;
  padding: 30px;
  border: 35px solid white;
  border-radius: 50%;
  position: relative;
}



#clock-face{
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  position: relative;
}

.hand{
  background-color: white;
  width:50%;
  height:6px;
  position: absolute;
  top:50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.001s;
} 

@media screen and (max-width:600px){
  .clock{
    width:200px;
    height:200px;
  margin:0 auto;
    padding: 20px;
    border: 20px solid white;
    border-radius: 50%;
    position: relative;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }
}